# STIG requirement for AMAZON2023
# Set via Ansible-Lockdown - https://github.com/ansible-lockdown
# Maintained and sponsored by {{ company_title }}

# Define ciphers for OpenSSH
cipher@SSH=AES-256-GCM AES-128-GCM AES-256-CTR AES-128-CTR

# Define MACs for OpenSSH
mac@SSH=HMAC-SHA2-512 HMAC-SHA2-256
