{{ file_managed_by_ansible }}

@OPENSSH-SUBPOLICY
@SCOPES-AND-WILDCARDS
{% if amzn2023stig_fips_submodules is defined %}
# Added Submodules
{% for submodule in amzn2023stig_fips_submodules %}
@ {{ submodule }}
{% endfor %}
{% endif %}
